.directionContainer{
    margin-left: 130px;
}

.direction {
    border-radius: 2px;
    border: 1px solid brown;
    background: #c8a67a;
    margin: 15px;
}

.direction.ns {
    margin-left: 46px;
}

.money{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fas{
    padding-top: 25px;
    color: green;
    padding-right: 8px;
}
.fas.location{
    color: #EA4335;
}

.build{
    height: fit-content;
    width: 60px;
    margin: 2px;
}

.eat{
    height: fit-content;
}