.row {
    display: flex;

    align-items: center;
    justify-content: center; 
  /* margin-top: 60px; */
}
.team {
  display: flex;flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.member {
  width: 240px;
  margin: 10px;
  text-align: center;
  padding-bottom:20px;
  border-bottom: solid seagreen 2px;
}
.profileImg {
  width: 100%;
  border-radius: 100%;
}
