.about {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  margin-top: 60px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.member {
  width: 250px;
  margin: 10px;
}
.profileImg {
  width: 100%;
  border-radius: 100%;
}
